.formulario-buscador {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background: var(--colorClaro);
  padding: 12px;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(79, 140, 255, 0.07);
}
.formulario-buscador input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  font-size: 1rem;
  width: 200px;
  border: 1px solid var(--colorNav);
  font-family: var(--fuenteTexto2);
  transition: border 0.2s;
}
.formulario-buscador input[type="text"]:focus {
  border: 1.5px solid var(--colorNav);
  outline: none;
}
.formulario-buscador button {
  background: var(--colorNav);
  color: var(--colorClaro);
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: var(--fuenteTexto1);
  font-size: 1rem;
  transition: background 0.2s;
}
.formulario-buscador button:hover {
  background: var(--colorAcento);
  color: var(--colorOscuro);
}
