.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--colorSegundario);
  padding: 8px;
  margin-bottom: 16px;

  & ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 0;
    margin: 0;
  }

  & li {
    cursor: pointer;
    padding: 8px;
    &:hover {
      color: white;
      border-radius: 4px;
    }
  }
}
