:root {
  --fuenteTexto2: 'Georgia';
  --fuenteTexto1: 'Arial';
  --colorPrimario: hsl(150, 1%, 69%);
  --colorSegundario: #3a49e8;

 
}


body {
  background: var(--colorPrimario);
  color: var(--colorSegundario);
  font-family: var(--fuenteTexto1);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

header {
  color: #fff;  
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#formulario-buscador {
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
#buscador {
  padding: 8px;
  border-radius: 4px;
  font-size: 1rem;
  width: 200px;
  font-family: var(--fuenteTexto2);
}


#galeriaGifs{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;  
}

.navContainer {
  width: 100%;
  margin-bottom: 16px;
}