:root {
  --fuenteTexto2: 'Georgia';
  --fuenteTexto1: 'Arial';
  --colorPrimario: #72b1dd;
  --colorSegundario: #3741c9;

 
}


body {
  background: var(--colorPrimario);
  color: var(--colorSegundario);
  font-family: var(--fuenteTexto1);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button{
  font-family: var(--fuenteTexto2);
}
